<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Untitled Document</title>
  </head>
  <body>
    <div id="header">
      Logo
      <div id="user-menu">
	<%if current_user%>
	  <p>Welcome <%=current_user.username%></p>
	  <%= link_to "Logout", session_path, :method => :delete -%>
	<%else%>
	  <%= link_to "Register", new_user_path -%>
	<%end%>
	</div>
    </div>
    <div id="content">
      <%unless flash.nil? -%>
	<%flash.each_pair do |k,v| -%>
	  <p class="flash <%=k%>"><%=v%></p>
	<%end -%>
      <%end -%>
      <%= yield -%>
    </div>
  </body>
</html>
